name: Build Java Installer

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:

jobs:
  build:
    name: Build for ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 21
        uses: Actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Build JAR file
        run: |
          mkdir -p bin
          javac -d bin -cp "lib/*" src/*.java
          jar cfm InventoryApp/Inventory.jar MANIFEST.MF -C bin .

      - name: Package app using jpackage
        run: |
          jpackage --input inventoryApp \ --main-jar Inventory.jar \ --name "InventorySystem" --app-version 1.0 \ --type ${{ matrix.os == 'windows-latest' && 'exe' || (matrix.os == 'macos-latest' && 'dmg' || 'deb') }} \ --icon InventoryApp/I.S.*{{ matrix.os == 'windows-latest' && 'ico' || (matrix.os == 'macos-latest' && 'icns' || 'png') }}

      - name: Upload installer Artifact
        uses: actions/upload-artifact@v4
        with:
          name: ${{ matrix.os }} - installer
          path: |
            *.exe
            *.dmg
            *.deb
